@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Ga+Maamli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Ga+Maamli&family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    /* border: 1px solid red; */
}

:root{
    --height-navBar: 70px;
    --header-width: 250px;
    --min-header-width: 30%;
    --header-height: 99%;
    --main-width: 80%;
    --max-main-width: 70%;
    
    /* color original del menu
    rgb(83, 204, 252);
    */
    --header-color: rgb(0, 0, 0); /*rgb(34, 82, 114);*/
    --main-background-color: rgba(51, 51, 51, 0.918);
    --body-color-black:  rgb(0, 0, 0);
    --body-color-gray: rgb(104, 104, 104);
    --menu-text-color: rgb(88, 231, 95);
    --my-name-color: rgb(7, 7, 7);
    --main-text-color: white;
    --white-text: white;
    --green-text: rgb(88, 231, 95);
    --magenta: #c7318e;
    --violeta: #8630d6;
    --azul: #2261a5;
    --back: #0a0c0d; 
    --verde-negro: #213635;
    --old-gradient: linear-gradient(to right, #c7318e, #8630d6, #2261a5);
    --new-gradient: linear-gradient(to right, #0a0c0d, #213635, #1c5052,#1c5052 , #348e91);

    /*
        https://paletadecolores.com.ar/paleta/f2f2f2/348e91/1c5052/213635/0a0c0d/       
        #0a0c0d, #213635, #1c5052,#1c5052 , #348e91, #f2f2f2
    */
}

html{
    scroll-behavior: smooth;
    /* scroll-padding-top: var(--height-navBar); */
    /*cursor: url('./assets/img/mouse\ rojo.webp'), auto;*/
}

/*
header{
    height: var(--height-navBar);
    top: 0;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background: var(--new-gradient);
    background: var(--verde-negro);
}
*/

/* Pantalla de bienvenida */

#start{
    background: #000;
    min-height: 100vh;
}

.text-container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#start p{
    margin-top: 10px;
    font-size: 60px;
    color: white;
    font-weight: 800;
    width: fit-content;
}

.my-name-start{
    font-size: 60px;
    color: transparent;
    background: var(--old-gradient);
    background-clip: text;
    animation: color 3s infinite linear alternate-reverse, ghost 2s infinite alternate-reverse;
    width: fit-content;
    /* text-shadow: greenyellow 1px 0px 10px; */
}

.btn-meet-me{
    margin-top: 40px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    border: 2px white solid;
    padding: 20px 30px;
}


/* NAV y sections */

.menu-container{
    height: var(--height-navBar);
    width: 100%;
    position: sticky;
    top: 0;
    background: var(--verde-negro);
    z-index: 10;
    display: flex;
    justify-content: center;
}

.menu-label, .menu-label img{
    height: 100%;
}

.menu-label, #menu-toggle{
    display: none;
}

.menu-list{
    display: flex;
    height: 90%;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    /* padding: 20px 10px; */
    max-width: 900px;
}

.menu-list a{
    display: inline-block;
    width: 100%;
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: "Michroma", sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    animation: fade 2s linear forwards;
}

.menu-list a:active{
    color: black;
}

.menu-list a:hover{
    /*scale: 1.2;*/
    text-decoration: underline;
}

main{
    /*margin-top: var(--height-navBar);*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section{
    min-height: 100vh;
    /* min-height: calc(100vh - var(--height-navBar)); */
    position: relative;
    /* top: var(--height-navBar); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
    
    padding: 20px;
}

section div{
    width: 100%;
}


#inicio{
    background: linear-gradient(40deg, #1c5052 , #348e91);
}



.title-section{
    text-align: center;
    font-family: "Syncopate", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
}

section .description{
    width: 60%;
    font-size: 17px;
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.img-container{
    width: 40%;
    max-width: 300px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rainbow 300ms infinite linear, slide-back 2s ease-in-out forwards, fade 3s 1s linear;
    /* animation: rote 1s infinite linear alternate; */
    padding: 10px;
    background: linear-gradient(to right, #2214e2, #7415cc, #1d77d6);
}

img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.info-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
}

.my-name{
    animation: animacion1 1s infinite linear  alternate;
    width: 100%;
    font-size: 2.5rem;
    font-family: "Orbitron", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}

.block-description{
    width: 100%;
    margin: 20px auto;
    padding: 10px 10px;
    color: black;
}

.description-job, .description-job-extra{
    font-family: "Michroma", sans-serif;
    font-weight: 900;
    font-style: italic;
    /*text-shadow: 0 0 20px rgb(43, 255, 24), 0 0 20px rgb(43, 255, 24), 0 0 20px rgb(43, 255, 24);*/
    font-size: 18px;
    margin: 10px 0;
}

.description-job{
    text-align: center;
    /* animation: slide 2s infinite alternate; */
}

.description-job-extra{
    text-align: center;
    animation: twinkle 1s infinite alternate;
}

.welcome-message{
    width: 100%;
    margin: 20px 0px;
    font-size: 1.5rem;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    color: var(--green-text);
}

.redes{
    display: flex;
    flex-direction: row;
    height: 70px;
    max-width: 450px;
}

.social-red a{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.social-red a img{
    border-radius: 50%;
    animation: rote 5s infinite linear alternate;
}

.container-button{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.download-button{
    width: 60%;
    height: 40px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid black;
    font-family: "Michroma", sans-serif;
    color: white;
    font-weight: 600;
    background: linear-gradient(var(--magenta), var(--violeta));
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}



.container-education{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.education{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container-education .title{
    font-family: "Special Elite", system-ui;

    font-family: "Audiowide", sans-serif;
    font-family: "Aldrich", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}


.section-skills{
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 15px;
    max-width: 1000px;

    
    /*
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 1200px;
    */
}

.skill{
    /*
    width: 120px;
    height: 120px;
    */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid rgb(43, 255, 24);
    border-radius: 10px;
    padding: 5px;
    
    width: 100%;
    height: 100%;
}

.skill-image-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 70%;
}

.name-skill-container{
    height: 20%;
    width: 100%;
}

/*
.skill:hover{
    transition: all 0.4s;
    cursor: pointer;
    
    margin-bottom: 40px;
    background: linear-gradient( black 30%,  gray 70%,  rgba(88, 231, 95, 0.507) 90%);
}





*/

/*
.skill img{
    max-width: 100%;
    max-height: 100%;
}
    */



.text-label{
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
}

.section-porfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    /* background: red; */
}

article{
    width: 20%;
    margin: 20px 20px;
    padding: 3px 3px;
    border: 2px solid rgb(139, 204, 17);
    height: 50%;
}


.contact-container{
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contact{
    width: 50%;
    height: 70px;
    border-radius: 10px;
    border: 2px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-block{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 40px;
}

.contact-container-img{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.container-text{
    height: 70px;
    text-align: left;
    width: 80%;
    display: flex;
    align-items: center;
    /*margin: 10px 0px;*/

    overflow: auto;
}

.container-text p{
    color: black;
    width: 100%;
    font-size: 1rem;
    font-family: "Orbitron", sans-serif;
}

.margin-title{
    margin: 10px 0px;
}

.margin-text{
    margin: 30px 0px;
}

footer{
    background: linear-gradient(to right, #c7318e, #8630d6, #2261a5);
    background: var(--verde-negro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 17px;
    text-align: center;
    padding: 30px 10px;
}

.footer-redes{
    padding: 20px 0;
    display: flex;
    gap: 20px;
}

.fa-brands{
    font-size: 30px;
    color: white;
}

footer p{
    font-size: 12px;
    font-family: "Orbitron", sans-serif;
}

footer h3{
    font-size: 14px;
    font-family: "Syncopate", sans-serif;
    padding: 10px;
}