@media(max-width: 882px){
    .text-container{
        padding: 20px;
    }

    /*
    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    */

    .menu-container{
        height: var(--height-navBar);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu-label{
        display: flex;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        font-size: 20px;
        font-weight: 700;
        color: white;
        animation: fade 2s linear forwards;
    }

    .menu-list{
        top: 60px;
        position: absolute;
        width: calc(100% - 4px);
        left: 2px;
        right: 2px;
        display: none;
        flex-direction: column;
        gap: 10px;
        background: var(--violeta);
        padding: 20px 20px;
        height: auto;
        border: 2px solid black;
        border-top: 0;
        border-radius: 0 0 15px 15px;
        /*background: linear-gradient(to right, #c7318e, #8630d6, #2261a5);*/
        background: var(--verde-negro);
    }

    #menu-toggle:checked + .menu-list{
        display: flex;
        animation: desplegar 1s ease-in-out;
    }

    .menu-list a{
        width: 100%;
        font-size: 16px;
        font-weight: 700;
        text-decoration: none;
        /* animation: fade 1s 1s ease-in-out forwards; */
    }

    .profile{
        flex-direction: column;
    }
    
    .img-container{
        width: 200px;
    }

    .info-container{
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .menu-list li:hover{
        cursor: pointer;
        max-width: 100%;
        transition: all 0.3s;
        font-size: 0.9rem;
    }

    main{
        max-width: 100%;
        width: 100%;
    }

    section{
        padding: 20px;
    }
       
    .my-name{
        font-size: 2rem;
        text-align: center;
        /* 
        max-height: 20vh;
        no me gusta queda may grande y exagerado
        font-family: "Ga Maamli", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-shadow: 0 0 20px rgb(43, 255, 24), 0 0 20px rgb(43, 255, 24), 0 0 20px rgb(43, 255, 24);
        */
    }

    .description-job{
        font-weight: 400;
        font-style: normal;
        width: 100%;
        text-align: center;
        /*text-shadow: 0 0 20px rgb(43, 255, 24), 0 0 20px rgb(43, 255, 24), 0 0 20px rgb(43, 255, 24);*/
        font-size: 1rem;
        text-decoration: none;
        margin: 5px 0;
    }

    .description-job-extra{
        font-weight: 400;
        font-style: normal;
        width: 100%;
        text-align: center;
        /*text-shadow: 0 0 20px rgb(43, 255, 24), 0 0 20px rgb(43, 255, 24), 0 0 20px rgb(43, 255, 24);*/
        font-size: 1rem;
        text-decoration: none;
        margin: 5px 0;
    }

    .welcome-message{
        width: 100%;
        margin: 20px 0px;
        font-size: 1rem;
        font-optical-sizing: auto;
        font-style: normal;
        text-align: center;
        color: var(--green-text);
        /*text-shadow: 0px 0px 20px white, 0px 0px 20px white, 0px 0px 20px white;*/
    }

    .redes{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
    }
    
    .download-button{
        width: 80%;
        height: 40px;
    }

    .container-education{
    }

    .education{
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .section-skills{
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
        gap: 10px;
        /*
        display: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        */
        /* background: gray; */
    }

    .skill{
        /*width: 80px;*/
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
 
    .skill-image-container{
        width: 100%;
        height: 60%;
    }

    .name-skill-container{
        padding: 2px;
        width: 100%;
    }

    .text-label{
        font-size: 12px;
        font-weight: bolder;
        text-align: center;
    }

    .title-section{
        width: 80%;
        text-align: center;
        /*background: blueviolet;*/
    }

    .text{
        width: 100%;
    }

    
    .contact-container{
        /*
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        */
    }

    .contact{
        width: 100%;
        padding: 10px 5px;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .link-block{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 10px;
        padding: 0px 20px;
    }
    
    .contact-container-img{
        height: 50px;
        width: 50px;
        /*background: blue;*/
        display: flex;
        justify-content: center;
    }
    
    .container-text{
        height: 70px;
        text-align: left;
        width: auto;
        display: block;
        display: flex;
        justify-content: start;
        align-items: center;
    }
    
    .container-text p{
        text-align: left;
        width: auto;
        font-size: 16px;
        text-decoration: none;
    }
}